<!DOCTYPE html>
<html>
<head>

<title>AI Chatbot</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>


<div class="chat-container">

<div class="header">

🤖 AI Chatbot

</div>


<div id="chatbox" class="chatbox"></div>


<div class="input-area">

<input id="userInput" type="text" placeholder="Type message...">

<button onclick="sendMessage()">Send</button>

</div>


</div>



<audio id="sound">
<source src="https://www.soundjay.com/buttons/sounds/button-3.mp3">
</audio>


<script>


function getTime() {

let d = new Date();

return d.getHours() + ":" + d.getMinutes();

}



function sendMessage() {

let input = document.getElementById("userInput");

let msg = input.value;

if(msg.trim() === "") return;

let chatbox = document.getElementById("chatbox");

let time = getTime();

document.getElementById("sound").play();

chatbox.innerHTML +=

`<div class="message user">

<img src="https://i.imgur.com/HYcn9xO.png">

<div>

${msg}

<span>${time}</span>

</div>

</div>`;


input.value = "";


chatbox.innerHTML +=

`<div class="message bot typing">

<img src="https://i.imgur.com/7k12EPD.png">

<div>Typing...</div>

</div>`;


fetch("/get", {

method: "POST",

headers: {

"Content-Type": "application/x-www-form-urlencoded"

},

body: "msg=" + msg

})

.then(response => response.text())

.then(data => {

let typing = document.querySelector(".typing");

typing.remove();

let time = getTime();

chatbox.innerHTML +=

`<div class="message bot">

<img src="https://i.imgur.com/7k12EPD.png">

<div>

${data}

<span>${time}</span>

</div>

</div>`;

chatbox.scrollTop = chatbox.scrollHeight;

});

}


</script>

</body>
</html>